//Import general styling
@import "./style/typography.scss";

//Import file styling

//Colors
$primary-color: #ff0000;
$secondary-color: #ffff00;
$black: #383838;
$green: #c8ffd4;
$red: #f7a4a4;
$blue: #ccece6;
$yellow: #ffe9d4;
$white: #f9f1f1;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // overflow-x: hidden;
  // overflow: hidden;
}

body {
  overflow-x: hidden;
  background-image: url("/images/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

::-moz-selection {
  /* Code for Firefox */
  color: $red;
  background: white;
}

::selection {
  color: $red;
  background: rgba(255, 255, 255, 0);
}

//make images not draggable
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

//make custom cursor
html {
  cursor: url("/images/cursor.svg"), auto;
}

//custom scrollbar styling that also works on firefox
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: $black;
}

::-webkit-scrollbar-thumb {
  background: $red;
  border-radius: 1rem;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOutAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOutAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-out {
  animation: fadeInOutAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-in {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.dot {
  height: 2rem;
  width: 2rem;
  background-color: $red;
  border-radius: 50%;
  pointer-events: none;
  position: fixed;
  background: $green;

  z-index: 999;
  border: $black solid 0.2rem;
}

.loading-screen {
  width: 100%;
  height: 100vh;
  background-color: white;

  position: relative;
  z-index: 998;
  position: absolute;

  display: grid;
  place-items: center;
}

.move-up {
  animation: moveUpAnimation ease-in 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes moveUpAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

.hover {
  --c: #1095c1; /* the color */
  --b: 0.1em; /* border length*/
  --d: -5px; /* the cube depth */

  --_s: calc(var(--d) + var(--b));

  color: var(--c);
  border: solid #ff0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background: conic-gradient(
        at left var(--d) bottom var(--d),
        #0000 90deg,
        rgb(255 255 255 /0.3) 0 225deg,
        rgb(255 255 255 /0.6) 0
      )
      border-box,
    conic-gradient(at left var(--_s) bottom var(--_s), #0000 90deg, var(--c) 0)
      0 100% / calc(100% - var(--b)) calc(100% - var(--b)) border-box;
  transform: translate(calc(var(--d) / -1), var(--d));
  clip-path: polygon(
    var(--d) 0%,
    var(--d) 0%,
    100% 0%,
    100% calc(100% - var(--d)),
    100% calc(100% - var(--d)),
    var(--d) calc(100% - var(--d))
  );
  transition: 0.2s;
}
.hover:hover {
  transform: translate(0, 0);
  clip-path: polygon(
    0% var(--d),
    var(--d) 0%,
    100% 0%,
    100% calc(100% - var(--d)),
    calc(100% - var(--d)) 100%,
    0% 100%
  );
}

.hover-3 {
  --b: 0.1em; /* the thickness of the line */
  --c: #1095c1; /* the color */

  color: #0000;
  padding-block: var(--b);
  background: linear-gradient(var(--c) 50%, #000 0) 0%
      calc(100% - var(--_p, 0%)) / 100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b)
      no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear,
    background-size 0.3s calc(0.3s - var(--_s, 0s));
}
.hover-3:hover {
  --_p: 100%;
  --_s: 0.3s;
}

.loading-screen-container {
  width: 90%;
  height: 90%;

  background-image: url("/images/loading-screen-background.jpg");
  background-size: cover;

  border: $black 5px solid;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;

  // border: red solid 2px;
}

.loading-screen-icon-container {
  position: relative;
}

.loading-screen-icon-0,
.loading-screen-icon-1 {
  width: 50px;
  height: 50px;

  border: $black 2px solid;

  position: absolute;
  left: 45%;
  top: 45%;
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}

.loading-screen-icon-0 {
  background-color: $red;
  animation: configure-clockwise 5s ease-in-out 0s infinite alternate;
}

.loading-screen-icon-1 {
  background-color: $green;
  animation: configure-xclockwise 5s ease-in-out 0s infinite alternate;
}

.loading-screen-bottom-text {
  position: absolute;

  color: $black;
  letter-spacing: 0;

  top: 75%;
  -webkit-text-stroke: 0px $black;
}

.intro-text-container-0 {
  position: absolute;
  text-align: center;
  width: 75%;
  opacity: 0;
}

.intro-text-container-1 {
  position: absolute;
  text-align: center;
  width: 75%;
  opacity: 0;
}

.arrow-down-icon-container {
  position: absolute;
  top: 90vh;

  left: 50%;
  transform: translateX(-50%);

  z-index: 1;

  animation: arrow-animation 2s ease-in-out infinite alternate;
}

@keyframes arrow-animation {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

.landing {
  width: 100%;
  // height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  // border: pink solid 2px;

  padding: 5% 0;
}

.landing-container {
  width: 90%;
  height: 90%;

  background: $white;
  color: $black;

  padding: 5% 0;

  h2 {
    -webkit-text-stroke: #383838 1px;
    color: white;
    letter-spacing: -2px;
    line-height: 1;
    font-size: 6.5rem;
  }
  display: flex;
  flex-direction: row;
  align-items: center;

  border: $black solid 5px;
}

.landing-container-text {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 4%;

  // h2 {
  //   margin-bottom: 30px;
  // }
}

.landing-container-text p {
  padding-top: 4%;
  padding-bottom: 4%;
}

.landing-container-button {
  border: $black solid 4px;
  color: $black;
  background: $red;
  padding: 1rem;
  text-decoration: none;
  margin-top: 20px;

  //make button not take up full width
  width: fit-content;

  transition: transform 0.2s ease-in-out;
}

.landing-container-button:hover {
  transform: scale(0.95);
}

.landing-container-button::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.landing-container-button:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.landing-container-button::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: $green;
  z-index: -1;
  transition: transform 0.3s ease;
}

.landing-container-logo {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  // border: blue solid 2px;
}

.landing-logo {
  width: 75%;
}

.our-work-container {
  // border: forestgreen solid 2px;
  text-align: center;
  // -webkit-text-stroke: #383838 2px;
  color: white;

  padding-top: 10%;
}

.our-work-cards-container {
  // border: blue solid 2px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 6vh;

  padding-top: 2%;

  //make text not selectable
  user-select: none;
  //make text not draggable
  -webkit-user-drag: none;
  // //make text not selectable
  // -webkit-touch-callout: none;
  // //make text not draggable
  // -webkit-app-region: no-drag;
}

.our-work-card-sphene,
.our-work-card-nhl,
.our-work-card-degen-ape,
.our-work-card-bioarm,
.our-work-card-sunice,
.our-work-card-subway-corridor,
.our-work-card-floating-world,
.our-work-card-space-camp,
.our-work-card-virtual-planet,
.our-work-card-atomizer,
.our-work-card-coco-islands,
.our-work-card-self-avoiding-walk {
  cursor: pointer;
  border: $black solid 4px;

  background-position: center;
  // background-size: cover;
  background-size: 104%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 60%;
  height: 20vh;

  position: relative;
  transition: background-size 0.5s ease-in-out;
}

.our-work-cards-title {
  position: relative;
  z-index: 1;
}

.our-work-card-floating-world-credits {
  position: absolute;
  z-index: 1;

  bottom: 0;
  right: 0;
}

.our-work-card-sphene {
  background-image: url("/images/sphene.jpg");
}

.our-work-card-nhl {
  background-image: url("/images/nhl-breakaway.jpg");
}

.our-work-card-degen-ape {
  background-image: url("/images/degen-ape.jpg");
}

.our-work-card-space-camp {
  background-image: url("/images/space-camp.jpg");
}

.our-work-card-virtual-planet {
  background-image: url("/images/virtual-planet.jpg");
}

.our-work-card-bioarm {
  background-image: url("/images/bioarm.jpg");
}

.our-work-card-sunice {
  background-image: url("/images/sunice.jpg");
}

.our-work-card-subway-corridor {
  background-image: url("/images/subway-corridor.jpg");
}

.our-work-card-floating-world {
  background-image: url("/images/floating-world.jpg");
}

.our-work-card-atomizer {
  background-image: url("/images/atomizer.jpg");
}

.our-work-card-coco-islands {
  background-image: url("/images/coco-islands.jpg");
}

.our-work-card-self-avoiding-walk {
  background-image: url("/images/self-avoiding-walk.jpg");
}

.our-work-card-sphene:hover,
.our-work-card-nhl:hover,
.our-work-card-degen-ape:hover,
.our-work-card-bioarm:hover,
.our-work-card-sunice:hover,
.our-work-card-subway-corridor:hover,
.our-work-card-floating-world:hover,
.our-work-card-space-camp:hover,
.our-work-card-virtual-planet:hover,
.our-work-card-atomizer:hover,
.our-work-card-coco-islands:hover,
.our-work-card-self-avoiding-walk:hover {
  background-size: 100%;
}

.our-work-card-sphene::after,
.our-work-card-nhl::after,
.our-work-card-degen-ape::after,
.our-work-card-bioarm::after,
.our-work-card-sunice::after,
.our-work-card-subway-corridor::after,
.our-work-card-floating-world::after,
.our-work-card-space-camp::after,
.our-work-card-virtual-planet::after,
.our-work-card-atomizer::after,
.our-work-card-coco-islands::after,
.our-work-card-self-avoiding-walk::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.our-work-card-sphene:hover::after,
.our-work-card-nhl:hover::after,
.our-work-card-degen-ape:hover::after,
.our-work-card-bioarm:hover::after,
.our-work-card-sunice:hover::after,
.our-work-card-subway-corridor:hover::after,
.our-work-card-floating-world:hover::after,
.our-work-card-space-camp:hover::after,
.our-work-card-virtual-planet:hover::after,
.our-work-card-atomizer:hover::after,
.our-work-card-coco-islands:hover::after,
.our-work-card-self-avoiding-walk:hover::after {
  opacity: 0;
}

.contact-us-container {
  text-align: center;
  width: 100%;
  padding: 10% 0;
  // height: 200vh;
  // border: red solid 2px;
}

.contact-us-cards {
  // border: blue solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;

  padding: 2% 0;
}

.contact-us-card-email,
.contact-us-card-twitter,
.contact-us-card-github,
.contact-us-card-linkedin {
  cursor: pointer;
  width: 10%;

  border: $black solid 4px;
  position: relative;
}

.contact-us-card-email {
  background: $green;
}

.contact-us-card-twitter {
  background: $red;
}

.contact-us-card-github {
  background: $blue;
}

.contact-us-card-linkedin {
  background: $yellow;
}

.contact-us-card-email::after,
.contact-us-card-twitter::after,
.contact-us-card-github::after,
.contact-us-card-linkedin::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.contact-us-card-email-svg,
.contact-us-card-twitter-svg,
.contact-us-card-github-svg,
.contact-us-card-linkedin-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
}

.contact-us-email {
  // padding-top: 2%;
  color: $black;
  // border: red solid 2px;

  //make div fit text
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}

.tooltip {
  opacity: 0;
}

.footer {
  width: 100%;
  // height: 10vh;
  background: $black;
  color: white;
  padding: 2%;

  // border: yellow solid 2px;

  a {
    color: white;
    text-decoration: none;
  }
}

.webgl {
  position: relative;
  left: 0;
  top: 0;
  z-index: 0;
  outline: none;
}

@media (max-width: 1200px) {
  .dot {
    opacity: 0;
  }

  h1 {
    font-size: 8rem;
    -webkit-text-stroke: #383838 1px;
  }

  h2 {
    font-size: 6rem;
  }

  .landing-container {
    flex-direction: column;
    padding: 15% 0;
  }

  .landing-container-text {
    text-align: center;
    align-items: center;

    padding-bottom: 10%;

    width: 90%;

    padding-left: 0;

    h2 {
      font-size: 6rem;
    }
  }

  .landing-container-logo {
    width: 50%;
  }

  .our-work-card-sphene,
  .our-work-card-nhl,
  .our-work-card-degen-ape,
  .our-work-card-bioarm,
  .our-work-card-sunice,
  .our-work-card-subway-corridor,
  .our-work-card-floating-world,
  .our-work-card-space-camp,
  .our-work-card-virtual-planet,
  .our-work-card-atomizer,
  .our-work-card-coco-islands,
  .our-work-card-self-avoiding-walk {
    width: 90%;
  }

  .contact-us-card-email,
  .contact-us-card-twitter,
  .contact-us-card-github,
  .contact-us-card-linkedin {
    width: 15%;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 4rem;
  }

  .landing-container-text {
    h2 {
      font-size: 5rem;
    }
  }

  .loading-screen {
    h1 {
      font-size: 5rem;
      letter-spacing: -2px;
    }
  }

  .loading-screen-bottom-text {
    text-align: center;
    h4 {
      font-size: 1.8rem;
    }
  }

  .contact-us-cards {
    flex-direction: column;

    gap: 4vh;

    padding-top: 5%;
  }

  .contact-us-card-email,
  .contact-us-card-twitter,
  .contact-us-card-github,
  .contact-us-card-linkedin {
    width: 40%;
  }

  .contact-us-email {
    font-size: 2.8rem;
  }

  .arrow-down-icon-container {
    opacity: 0;
  }
}

@media (max-width: 550px) {
  .contact-us-email {
    font-size: 1.8rem;
  }
}
